.full-screen-container {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}

.my-table {
  width: 100%;
  margin: 20px 0;
  background-color: white;
}

.my-table .MuiTableHead-root {
  box-shadow: none;
}